<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>first mern project - sanjeev kumar </title>
    <link rel="stylesheet" href="css/style.css" type="text/css" >
</head>
<body>
    <h1><center>Hello this is page for practice of registration form.</center></h1>
    <div class="container">
       <div class="titleBar">
               Registration form.
        </div>
        <div class="FormControl">
            <form action="register" method="POST" class="contol">
                <input type="text" name="FirstName" placeholder="FirstName" value=""><br>
                <input type="text" name="LastName" placeholder="LastName" value=""><br>
                <input type="text" name="Email" placeholder="Email" value=""><br>
                <input type="radio" name="gender" value="male"> male.<br>
                <input type="radio" name="gender" value="female">female<br>
                <input type="text" name="age" value="" placeholder="age *"><br>
                <input type="text" name="phone" value="" placeholder="Mobile No."><br>
                <input type="password" name="password" placeholder="password" value=""><br>
                <input type="password" name="ConfirmPassword" placeholder="Confirm password" value=""><br>
                <input type="reset" value="Reset">
                <input type="submit" value="Register">

            </form> 
        </div>
    </div>
</body>
</html>